@media only screen and (max-width: 1006px) {

    /* make calc jumping on bottom form "left-text"*/
    .main-page {
        display: block;
    }

    .cat-health-info {
        width: 85%;
    }
    form {
        margin-top: 10px;
    }
}


@media only screen and (max-width: 640px) {
    .cat-health-info {
        width: 100%;
    }

    .container-result {
        width: 85%;
    }
}

@media only screen and (max-width: 580px) {
    /*падінг коли до кнопки прилазять елементи форми*/
    .button-form {
        margin-top: 60px;
    }

    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 475px) {
    .form-control {
        width: 55%;
    }
    .container {
        width: 92%;
    }
}

@media only screen and (max-width: 350px) {
    .form-control {
        width: 50%;
    }
}